button#close-modal {
  background: none;
  border: none;
  font-size: 2rem;
  color: red;
  position: absolute;
  right: 0;
  top: 0;
}

h2 {
  color: red;
  font-size: 1.6rem;
}

p {
  font-size: 1.2rem;
}
